/* LAYOUT CSS */
.cover {
  background-color: $background-color;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  color: $text-color;
  padding: 0px 0px;
  .avatar {
    border-radius: 15%;
    width: 200px;
    height: auto;
    float: none;
  }
  .author_name {
    display: block;
    color: #000;
    font-size: 1.75em;
    font-family: $font-family-monospace;
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: 700;
  }
  .author_job {
    display: block;
    color: $secondary;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
  .author_bio {
    font-size: 1em;
    color: #666;
    display: block;
    font-family: Roboto Slab;
  }
  @include media-query($medium-screen) {
    text-align: center;
    margin: 0 auto;
    padding: 0 0px 80px;
  }
}
.social-links {
  margin-top: 1em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      a.social-link-item {
        color: $primary;
        &:hover,
        &:focus {
          color: lighten($primary, 14%);
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    & a {
      margin-top: 1.75em;
      text-transform: lowercase;
      font-size: 1.2em;
      color: $secondary;
      &:hover,
      &:focus {
        color: lighten($secondary, 14%);
      }
    }
  }
}
